@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";



@theme{
    --font-redHat: "Red Hat Text", sans-serif;
    --font-Rammetto: "Rammetto One", sans-serif;

}

body {
    max-width: 1800px;
    margin: 0 auto;
    font-family: "Red Hat Text", sans-serif;
}

.wrapper{
    @apply container mx-auto px-[20px] md:py-[80px] py-[10px] lg:px-[4rem] lg:py-[16px]
 }

 .hero-bgImg{
    @apply bg-[url(./assets/Hero-Bg-Img.svg)]
 }

 .product-session{
    @apply carousel-item flex flex-col text-center
 }